body {
    padding-top: 70px;
}
.tweet {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}
.tweet .profile_img {
    float: left;
    height: 73px;
    width: 73px;
    border-radius: 5px;
}
.tweet .user_name,
.tweet .screen_name {
    float: left;
}
.tweet .tweet_text {
    clear: both;
}
.tweet .tweet_media {
    width: 100%;
}
.center-block {
    float:none;
}
#tweetstream {
    padding-bottom: 50px;
}
.tweet_timestamp {
    float: right;
}