body {
    padding-top: 70px;
}
* {
    font-family: 'Helvetica Neue',
                 Helvetica,
                 Arial,
                 sans-serif;
}
.tweet {

}
.tweet .profile_img {
    float: left;
    height: 48px;
    width: 48px;
    border-radius: 5px;
    clear: left;
    position: relative;
}
.tweet .user_name,
.tweet .screen_name {
    float: none;
    position: relative;
    padding-left: 5px;
    display: inline-block;
}
.user_name {
    font-weight: bold;
    font-size: 14px;
    color: #292f33;
    vertical-align: top;
}
.user_name:hover {
    color: #009999;
}
.screen_name {
    font-size: 13px;
    color: #8899a6;
}
.tweet .tweet_media {
    width: 100%;
}
.center-block {
    float:none;
}
#tweetstream {
    padding-bottom: 50px;
}
.tweet_timestamp {
    float: right;
}
.retweeter_name {

}
.tweet .tweet_text {
    display: inline-block;
    clear: both;
    padding: 5px;
}
.tweets .actions {

}
.twitter-sprite {
    display: inline-block;
}
.reply {
background: url("../img/twitter-sprite.png") 0 0;
height: 16px;
width: 16px;
}
.reply_hover,
.reply:hover {
background: url("../img/twitter-sprite.png") -16px 0;
height: 16px;
width: 16px;
}
.favorite {
background: url("../img/twitter-sprite.png") -32px 0;
height: 16px;
width: 16px;
}
.favorite_hover,
.favorite:hover {
background: url("../img/twitter-sprite.png") -48px 0;
height: 16px;
width: 16px;
}
.favorite_on {
background: url("../img/twitter-sprite.png") -64px 0;
height: 16px;
width: 16px;
}
.retweet {
background: url("../img/twitter-sprite.png") -80px 0;
height: 16px;
width: 19px;
}
.retweet_hover,
.retweet:hover {
background: url("../img/twitter-sprite.png") -99px 0;
height: 16px;
width: 19px;
}
.retweet_on {
background: url("../img/twitter-sprite.png") -118px 0;
height: 16px;
width: 19px;
}
.actions>a>.twitter-sprite {
    margin: 5px 10px;
}