body {
    padding-top: 70px;
}
* {
    font-family: 'Helvetica Neue',
                 Helvetica,
                 Arial,
                 sans-serif;
}
.tweet {

}
.tweet .profile_img {
    float: left;
    height: 48px;
    width: 48px;
    border-radius: 5px;
    clear: left;
    position: relative;
}
.tweet .user_name,
.tweet .screen_name {
    float: none;
    position: relative;
    padding-left: 5px;
    display: inline-block;
}
.user_name {
    font-weight: bold;
    font-size: 14px;
    color: #292f33;
    vertical-align: top;
}
.user_name:hover {
    color: #009999;
}
.screen_name {
    font-size: 13px;
    color: #8899a6;
}
.tweet .tweet_media {
    width: 100%;
}
.center-block {
    float:none;
}
#tweetstream {
    padding-bottom: 50px;
}
.tweet_timestamp {
    float: right;
}
.retweeter_name {

}
.tweet .tweet_text {
    display: inline-block;
    clear: both;
    padding: 5px;
}
.tweets .actions {

}