div.tweet:hover {
    cursor: pointer;
}
.tweet {
  &.panel-primary {
    background-color: $tracked-tweet;
  }
  &.new-tweet {
    border-left: 3px solid $new-tweet-color;
  }
  .user_box {
    .profile_img {
      float: left;
      height: 48px;
      width: 48px;
      border-radius: 5px;
      clear: left;
      position: relative;
    }
    .screen_name,
    .user_name {
      float: none;
      position: relative;
      padding-left: 5px;
      display: inline-block;
    }
    .screen_name {
      font-size: .9em;
      color: $screen-name-color;
    }
    .user_name {
      font-weight: bold;
      font-size: 1em;
      color: $user-name-color;
    }
    &:hover {
        .user_name {
          color: $user-name-hover-color;
        }
    }
  }
  .tweet_media {
    width: 100%;
  }
  .tweet_timestamp {
    float: right;
  }
  .retweeter_name {
    .retweet {
      color: $retweeted-icon-color;
    }
  }
  .tweet_text {
    display: inline-block;
    clear: both;
    padding: 5px;
    width: 100%;
  }
  .actions {
    padding: 0 5px 5px 5px;
    display: none;
    a.btn {
      margin: 0;
    }
  }
}
  i.reply {
    color: $inactive-action-icon-color;
  }
  a.reply:hover i {
    color: rgb(0, 153, 153);
  }
  i.favorite {
    color: $inactive-action-icon-color;
  }
  a.favorite:hover i {
    color: rgb(255, 172, 51);
  }
  i.retweet {
    color: $inactive-action-icon-color;
  }
  a.retweet:hover i {
    color: rgb(92, 145, 59);
  }