{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block html_attribs %} lang="en" {% endblock html_attribs %}
{% block title %}Ticket Tweets{% endblock title %}
{% block metas %}
  {{ super() }}
  <meta name="description" content="Live Twitter feeds from The Ticket radio in Dallas">
  <meta id="debug" data-debug='{{ debug }}'>
  <!-- Android 5.0 status bar color -->
  <meta name="theme-color" content="#4387f4">
{% endblock metas%}

{% block head %}
  {{ super() }}
  {{ fixes.ie8() }}
  {{ moment.include_jquery(version='2.1.3') }}
  {{ moment.include_moment() }}
{% endblock head %}

{% block styles %}
  {{ super() }}

  <!-- Bootstrap Material Design from Fez Vrasta
        https://github.com/FezVrasta/bootstrap-material-design -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='material-design/css/ripples.min.css') }}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='material-design/css/material-wfont.min.css') }}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- Font Awesome for social buttons -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock styles %}

{% block body %}
    {% block navbar %}
      {% include "navbar.html" %}
    {% endblock navbar %}

    {% block content %}

    {% endblock content %}

    {% include "footer.html" %}

    {% block scripts %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
      <!-- Arrive.js to apply material to dynamic elements -->
      <script src="{{ url_for('static', filename='js/arrive/arrive-2.0.0.min.js') }}"></script>
      <script>
        // Watch for elements created and update with arrive.js
        $('#tweet-container').arrive(".tweet", function() {
          var $newElem = $(this);
        });
      </script>
      <!-- Bootstrap Material Design JS -->
      <script src="{{ url_for('static', filename='material-design/js/ripples.min.js') }}"></script>
      <script src="{{ url_for('static', filename='material-design/js/material.min.js') }}"></script>
      <script>
            $(document).ready(function() {
                $.material.init();
            });
        </script>
      <!-- Custom JS -->
      <script src="{{ url_for('static', filename='js/tweetstream.js') }}"></script>
    {% endblock scripts %}
{% endblock body %}