<div id="settings_container" class="col-sm-4 col-md-3 col-lg-3">
  <div class="panel panel-default">
      <form>
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Person
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Person 2
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-default">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
      </form>
    </div>
</div>