<div id="settings-modal" class="modal">
  <div class="modal-dialog">
  <div class="modal-content">
    <form>
      <div class="alert alert-dissmissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <span>Settings are a work in progress and currently do nothing.</span>
      </div>
      <fieldset>
        <legend>Shows</legend>
        {% for show in users %}
          <div class="form-group show-checkbox">
            <div class="checkbox">
              <label class="text-primary"><input type="checkbox">{{ show['show_name'] }}</label>
            </div>
          </div>
          {% for host in show['hosts'] %}
            <div class="form-group host-checkbox">
              <div class="checkbox">
                <label class="text-info"><input type="checkbox">{{ host['name'] }}</label>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox">P1s</label>
              </div>
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-default">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>