{# Set tweet variables #}
{% set tweet_id = tweet.retweeted_status.id_str
    if tweet.retweeted_status
    else tweet.id_str %}
{% set user_id = tweet.retweeted_status.user.id_str
    if tweet.retweeted_status
    else tweet.user.id_str %}
{% set tweet_created_at = tweet.retweeted_status.created_at
    if tweet.retweeted_status
    else tweet.created_at %}
{% set user_name = tweet.retweeted_status.user.name
    if tweet.retweeted_status
    else tweet.user.name %}
{% set user_screen_name = tweet.retweeted_status.user.screen_name
    if tweet.retweeted_status
    else tweet.user.screen_name %}
{% set user_profile_image_url = tweet.retweeted_status.user.profile_image_url
    if tweet.retweeted_status
    else tweet.user.profile_image_url %}
{% set tweet_text = tweet.retweeted_status.text
    if tweet.retweeted_status
    else tweet.text %}

<div class="tweet" data-tweet="{{ tweet.id_str }}">

{# Retweeter name, timestamp, permalink to user. Does not use local variables #}
{% if tweet.retweeted_status %}

  <div class="retweeter_name" data-retweet="{{ tweet.id_str }}">
    <img src="{{ url_for('static', filename='img/retweet_on.png') }}">
    <a href="https://twitter.com/intent/follow?user_id={{ tweet.user.id_str }}/" target="_blank">{{ tweet.user.name }} retweeted at
      {{ moment(tweet.created_at|parse_date).format('h:mma') }}</a>
  </div>

{% endif %}

{# Tweet timestamp and permalink #}
  <div class="tweet_timestamp">

    <a href="http://twitter.com/{{ user_id }}/status/{{ tweet_id }}" target="_blank" title="{{ tweet_created_at }}">{{ moment(tweet_created_at|parse_date).format('h:mma - ddd MMM D') }}</a>

  </div>

{# User profile, name, screen name #}
  <a href="https://twitter.com/intent/follow?user_id={{ user_id }}/" target="_blank">
    <img class="profile_img" src="{{ user_profile_image_url }}" alt="profile image">
  <div class="user_name">{{ user_name }}</div><br>
    <div class="screen_name ">@{{ user_screen_name }}</div></a>

{# Tweet text #}
  <div class="tweet_text">{{ tweet_text }}</div>

{% if tweet.entities.media %}

    {% for media in tweet.entities.media %}

    <a href="{{ media.media_url }}:large" target="_blank">
      <img class="tweet_media" src="{{ media.media_url }}" alt="photo">
    </a>

  {% endfor %}

{% elif tweet.extended_entities %}

  {% for media in tweet.extended_entities.media %}

    <a href="{{ media.media_url }}:large" target="_blank">
      <img class="tweet_media" src="{{ media.media_url }}" alt="photo">
    </a>

  {% endfor %}

{% endif %}

<div class="actions">
  <a href="https://twitter.com/intent/favorite?tweet_id={{ tweet_id }}" target="_blank">Favorite <img src="{{ url_for('static', filename='img/favorite.png') }}"></a>
  <a href="https://twitter.com/intent/tweet?in-reply-to={{ tweet_id }}" target="_blank">Reply <img src="{{ url_for('static', filename='img/reply.png') }}"></a>
  <a href="https://twitter.com/intent/retweet?tweet_id={{ tweet_id }}" target="_blank">Retweet <img src="{{ url_for('static', filename='img/retweet.png') }}"></a>
</div>
</div>