<div class="tweet" data-tweet="{{ tweet.id_str }}">

{# Retweeter name, timestamp, permalink to user #}
{% if tweet.retweeted_status %}

  <span class="retweeter_name">
    <a href="https://twitter.com/intent/follow?user_id={{ tweet.user.id_str }}/" target="_blank">{{ tweet.user.name }} retweeted at
      {{ moment(tweet.created_at|parse_date).format('h:mma') }}</a>
  </span>

{% endif %}

{# Tweet timestamp and permalink #}
  <span class="tweet_timestamp">

{% if tweet.retweeted_status %}

    <a href="http://twitter.com/{{ tweet.retweeted_status.user.id_str }}/status/{{ tweet.retweeted_status.id_str }}" target="_blank" title="{{ tweet.retweeted_status.created_at }}">{{ moment(tweet.retweeted_status.created_at|parse_date).format('h:mma - ddd MMM D') }}</a>

{% else %}

  <a href="http://twitter.com/{{ tweet.user.id_str }}/status/{{ tweet.id_str }}" target="_blank" title="{{ tweet.created_at }}">{{ moment(tweet.created_at|parse_date).format('h:mma - ddd MMM D') }}</a>

{% endif %}

  </span>

{# User profile, name, screen name #}
{% if tweet.retweeted_status %}

  <a href="https://twitter.com/intent/follow?user_id={{ tweet.retweeted_status.user.id_str }}/" target="_blank">
    <img class="profile_img" src="{{ tweet.retweeted_status.user.profile_image_url }}" alt="profile image">
  <span class="user_name">{{ tweet.retweeted_status.user.name }}</span>
    <span class="screen_name ">@{{ tweet.retweeted_status.user.screen_name }}</span></a>

{% else %}

  <a href="https://twitter.com/intent/follow?user_id={{ tweet.user.id_str }}/" target="_blank">
    <img class="profile_img" src="{{ tweet.user.profile_image_url }}" alt="profile image">
  <span class="user_name">{{ tweet.user.name }}</span>
    <span class="screen_name">@{{ tweet.user.screen_name }}</span></a>

{% endif %}

{# Tweet text #}
{% if tweet.retweeted_status %}

  <div class="tweet_text">{{ tweet.retweeted_status.text }}</div>

{% else %}

  <div class="tweet_text">{{ tweet.text }}</div>

{% endif %}

{% if tweet.entities.media %}

    {% for media in tweet.entities.media %}

    <a href="{{ media.media_url }}:large" target="_blank">
      <img class="tweet_media" src="{{ media.media_url }}" alt="photo">
    </a>

  {% endfor %}

{% elif tweet.extended_entities %}

  {% for media in tweet.extended_entities.media %}

    <a href="{{ media.media_url }}:large" target="_blank">
      <img class="tweet_media" src="{{ media.media_url }}" alt="photo">
    </a>

  {% endfor %}

{% endif %}

<div class="actions">
  <a href="https://twitter.com/intent/favorite?tweet_id={{ tweet.id_str }}" target="_blank">Favorite <img src="{{ url_for('static', filename='img/favorite.png') }}"></a>
  <a href="https://twitter.com/intent/tweet?in-reply-to={{ tweet.id_str }}" target="_blank">Reply <img src="{{ url_for('static', filename='img/reply.png') }}"></a>
  <a href="https://twitter.com/intent/retweet?tweet_id={{ tweet.id_str }}" target="_blank">Retweet <img src="{{ url_for('static', filename='img/retweet.png') }}"></a>
</div>
</div>