{# Set tweet variables -#}
{% set is_retweet = True if tweet.retweeted_status else False -%}
{% set is_reply = True if tweet.in_reply_to_status_id else False -%}
{# Variables used in retweets -#}
{% if is_retweet -%}
    {% set retweeter_user_name = tweet.user.name -%}
    {% set retweeter_user_id = tweet.user.id_str -%}
    {% set retweeter_screen_name = tweet.user.screen_name %}
    {% set user_name = tweet.retweeted_status.user.name -%}
    {% set screen_name = tweet.retweeted_status.user.screen_name -%}
    {% set user_profile_image_url = tweet.retweeted_status.user.profile_image_url -%}
    {% set retweeted_id = tweet.retweeted_status.id_str -%}
    {% set user_id = tweet.retweeted_status.user.id_str -%}
    {% set created_at = tweet.retweeted_status.created_at -%}
    {% set created_at_datetime = created_at|parse_date %}
    {% set retweet_created_at = tweet.created_at -%}
    {% set retweet_created_at_datetime = retweet_created_at|parse_date %}
    {% set retweeted_user_name = tweet.retweeted_status.user.name -%}
    {% set tweet_text = tweet.retweeted_status.text -%}
{# Variables when not a retweet #}
{% else -%}
    {% set user_name = tweet.user.name -%}
    {% set screen_name = tweet.user.screen_name -%}
    {% set user_id = tweet.user.id_str -%}
    {% set user_profile_image_url = tweet.user.profile_image_url -%}
    {% set tweet_text = tweet.text -%}
    {% set created_at = tweet.created_at -%}
    {% set created_at_datetime = created_at|parse_date %}
{% endif -%}
{# Variables used in replies -#}
{% if is_reply -%}
    {% set reply_id = tweet.in_reply_to_status_id -%}
    {% set reply_to_user = tweet.in_reply_to_user_id_str -%}
    {% set reply_screen_name = tweet.in_reply_to_screen_name -%}
{% endif -%}
{# Original tweet id -#}
{% set tweet_id = tweet.id_str -%}
{# Users followed -#}
{# TODO replace with variable from server #}
{% set follow_ids = ['22737112', '19529387', '15763416', '51240452', '44159806', '269957637', '311434643', '407929406', '54969017', '22730876', '89828373', '30322683', '22644385', '179822898', '633349672', '33029262', '23696497', '18510794', '45840247', '100014302', '558304993', '128320983', '21830846', '33132420', '2956256077', '1558819819'] -%}

{# Set tweet panel classes -#}
{% set panel_classes = 'panel-primary'
    if (user_id in follow_ids and not is_retweet) or
    (is_retweet and tweet.user.id_str in follow_ids)
    else 'panel-default' -%}
{% if new %}
    {% set panel_classes = [panel_classes, new]|join(' ') %}
{% endif %}

{# Set panel color based on tracked users-#}
  <div class="tweet panel {{ panel_classes }}" data-tweet="{{ tweet_id }}">

{# Retweeter name, timestamp, permalink to user.-#}
{% if is_retweet -%}

  <div class="retweeter_name panel-heading panel-title" data-retweet="{{ retweeted_id }}">
    <i class="fa fa-retweet retweet"></i>
    <a href="https://twitter.com/intent/follow?screen_name={{ retweeter_screen_name -}}" target="_blank">{{ retweeter_user_name }} retweeted at
      {{ moment(retweet_created_at_datetime).format('h:mma') }}</a>
  </div><!-- retweeter_name -->

{% elif is_reply -%}

  <div class="reply_tweet panel-heading panel-title" data-reply="{{ reply_id }}">
    <a href="https://twitter.com/{{ reply_screen_name }}/status/{{ reply_id }}/" target="_blank">In reply to @{{ reply_screen_name }}</a>
  </div><!-- reply_tweet -->

{% endif -%}

  <div class="panel-body">
{# Tweet timestamp and permalink-#}
  {# TODO relative timestamp within 24 hours #}
  <div class="tweet_timestamp">
        <a href="http://twitter.com/{{ screen_name -}}/status/{{ tweet_id -}}/" target="_blank" title="{{ created_at }}">{{ moment(created_at_datetime).format('h:mma - ddd MMM D') }}</a>
  </div><!-- tweet_timestamp -->

{# User profile, name, screen name-#}
  <a href="https://twitter.com/intent/follow?screen_name={{ screen_name }}" target="_blank" class="user_box">
    <img class="profile_img" src="{{ user_profile_image_url }}" alt="profile image">
  <div class="user_name">{{ user_name }}</div><br>
    <div class="screen_name ">@{{ screen_name }}</div></a>

{# Tweet text-#}
  <div class="tweet_text">{{ tweet_text }}</div>

{# Tweet entities-#}
  {# TODO clear up difference btwn entities and extended entities-#}
{% if tweet.entities.media -%}

    {% for media in tweet.entities.media -%}

    <a href="{{ media.media_url }}:large" target="_blank">
      <img class="tweet_media" src="{{ media.media_url }}" alt="photo">
    </a>

  {% endfor -%}

{% elif tweet.extended_entities -%}

  {% for media in tweet.extended_entities.media -%}

    <a href="{{ media.media_url }}:large" target="_blank">
      <img class="tweet_media" src="{{ media.media_url }}" alt="photo">
    </a>

  {% endfor -%}

{% endif -%}
</div><!-- panel-body -->

<div class="actions">
  <a href="https://twitter.com/intent/tweet?in_reply_to={{ tweet_id }}" target="_blank" class="btn btn-default reply" title="Reply"><i class="fa fa-reply reply"></i></a>
  <a href="https://twitter.com/intent/retweet?tweet_id={{ tweet_id }}" target="_blank" class="btn btn-default retweet"><i class="fa fa-retweet retweet" title="Retweet"></i></a>
  <a href="https://twitter.com/intent/favorite?tweet_id={{ tweet_id }}" target="_blank" class="btn btn-default favorite"><i class="fa fa-star favorite" title="Favorite"></i></a>
  </div><!-- actions panel-footer -->
</div><!-- tweet panel -->